{% extends "userLogin/base_sidebar.html" %}

{% load static %}
{% load humanize %}

{% block title %}Quản Lý Tài Sản - SmartTrade{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'userLogin/css/assets_management.css' %}">
{% endblock %}

{% block main-content %}
<main class="dashboard-content">
    <div class="dashboard-header">
        <h2>Quản lý Tài sản</h2>
        <!-- <div class="date-filter">
            <span>Thời gian:</span>
            <select>
                <option>Hôm nay</option>
                <option>Tuần này</option>
                <option>Tháng này</option>
                <option>Năm nay</option>
            </select>
        </div> -->
    </div>

    <!-- Thẻ thống kê -->
    <div class="stats-cards">
        <div class="stat-card">
            <div class="stat-icon">💼</div>
            <div class="stat-info">
                <h3>Tổng giá trị danh mục</h3>
                <p class="stat-value">{{ portfolio_value|intcomma }} VND</p>
                <!-- <p class="stat-change increase">% <span>từ tháng trước</span></p> -->
            </div>
        </div>
        <div class="stat-card">
            <div class="stat-icon">💰</div>
            <div class="stat-info">
                <h3>Lợi nhuận/Lỗ</h3>
                {% if total_profit_loss > 0 %}
                <p class="stat-value status-profit">+{{ total_profit_loss|intcomma }} VND</p>
                {% elif total_profit_loss < 0 %}
                <p class="stat-value status-loss">{{ total_profit_loss|intcomma }} VND</p>
                {% else %}
                <p class="stat-value status-breakeven">{{ total_profit_loss|intcomma }} VND</p>
                {% endif %}
                <!-- <p class="stat-change increase">+6.2% <span>từ tháng trước</span></p> -->
            </div>
        </div>
        <div class="stat-card">
            <div class="stat-icon">📊</div>
            <div class="stat-info">
                <h3>Số mã cổ phiếu</h3>
                <p class="stat-value">{{ number_of_stock }}</p>
                <!-- <p class="stat-change increase">+2 <span>từ tháng trước</span></p> -->
            </div>
        </div>
        <div class="stat-card">
            <div class="stat-icon">📈</div>
            <div class="stat-info">
                <h3>Cổ phiếu tăng/giảm</h3>
                <p class="stat-value">{{ number_profit_stock }}/{{ number_loss_stock }}</p>
                <p class="stat-change increase">+5% <span>hiệu suất</span></p>
            </div>
        </div>
    </div>

    <!-- Phân bổ tài sản -->
    <!-- <div class="chart-container">
        <div class="chart-card">
            <div class="chart-header">
                <h2>Phân bổ danh mục đầu tư</h2>
                <div class="chart-actions">
                    <button class="btn-chart active">Ngành</button>
                    <button class="btn-chart">Cổ phiếu</button>
                    <button class="btn-chart">Rủi ro</button>
                </div>
            </div>
            <div class="chart-body">
                <div class="chart-placeholder">
                    <div class="chart-line"></div>
                    <div class="chart-line"></div>
                    <div class="chart-line"></div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Danh sách cổ phiếu -->
    <div class="recent-transactions">
        <div class="section-header">
            <h2>Danh mục cổ phiếu</h2>
            <a href="{% url 'userLogin:trading' %}" class="view-all">Mua/Bán cổ phiếu</a>
        </div>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Mã CP</th>
                        <th>Tên công ty</th>
                        <!-- <th>Ngành</th> -->
                        <th>Số lượng</th>
                        <th>Giá mua</th>
                        <th>Giá hiện tại</th>
                        <th>Giá trị</th>
                        <th>Thay đổi</th>
                        <th>Lãi/Lỗ</th>
                    </tr>
                </thead>
                <tbody>
                    {% for portfolio in portfolios %}
                    <tr>
                        <td>{{portfolio.stock_code}}</td>
                        <td>{{portfolio.company_name}}</td>
                        <td>{{portfolio.amount}}</td>
                        <td>{{portfolio.avg_buy_price|intcomma}}</td>
                        <td>{{portfolio.current_price|intcomma}}</td>
                        <td>{{portfolio.total_value|intcomma}}</td>
                        {% if portfolio.profit_loss > 0 %}
                        <td class="status-profit">+ {{ portfolio.price_change_percent }} %</td>
                        <td class="status-profit">+ {{ portfolio.profit_loss|intcomma }}</td>
                        {% elif portfolio.profit_loss < 0 %}
                        <td class="status-loss">{{ portfolio.price_change_percent }} %</td>
                        <td class="status-loss">{{ portfolio.profit_loss|intcomma }}</td>
                        {% else %}
                        <td class="status-breakeven">{{ portfolio.price_change_percent }} %</td>
                        <td class="status-breakeven">{{ portfolio.profit_loss|intcomma }}</td>
                        {% endif %}

                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="no-data">Chưa có tài sản nào</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Lịch sử giao dịch -->
    <div class="recent-transactions">
        <div class="section-header">
            <h2>Lịch sử giao dịch gần đây</h2>
            <a href="#" class="view-all">Xem tất cả</a>
        </div>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Ngày</th>
                        <th>Mã CP</th>
                        <th>Loại</th>
                        <th>Số lượng</th>
                        <th>Giá</th>
                        <th>Tổng giá trị</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in recent_transactions %}
                    <tr>
                        <td>{{ transaction.date }}</td>
                        <td>{{ transaction.stock_code }}</td>
                        <td class="{% if transaction.is_sell %} type-sell {% else %} type-buy {% endif %}">{{ transaction.status_sell }}</td>
                        <td>{{ transaction.amount }}</td>
                        <td>{{ transaction.price|intcomma }} VND</td>
                        <td>{{ transaction.total_price|intcomma }} VND</td>
                        <td class="{% if transaction.is_successful %} status-completed {% else %} status-pending {% endif %}">{{ transaction.status_completed }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="no-data">Chưa có giao dịch cổ phiếu nào</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}